# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Secrets - NE JAMAIS COMMITER CES FICHIERS
*.pem
*.key
.env
*.tfvars
*.tfvars.json
secrets.yaml
secrets.yml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
